@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-menu .ant-menu-item-selected {
    color: #FFFFFF !important;
    background-color: #FF7506;
}

.custom-menu .ant-menu-submenu-arrow {
    display: none;
}

.custom-menu .ant-menu-item {
    color: #7E7D88;
    font-weight: 600 !important;
}

.custom-menu .ant-menu-item:hover {
    background-color: #FFF2E7 !important;
    /* Change the background color */
    color: #FF7506 !important;
    /* Change the text color */
}

.ant-select-focused .ant-select-selector {
    border-color: #FFAC6A !important;
    color: #535261 !important;
}

.ant-select-open .ant-select-item-option-selected {
    background-color: black !important;
    color: #ffffff !important;
}

.ant-select-item-option-selected {
    background: #FFF2E7 !important;
}

.ant-select-item {
    font-weight: 400 !important;
    font-size: 16px !important;
}

.ant-select {
    height: 44px !important;
}



.ant-select-selection-item-content {
    color: #ffffff !important;
}

.ant-select-multiple .ant-select {
    height: 44px !important;
}


.ant-select-multiple .ant-select-selection-item .ant-select-selection-item-remove {
    color: #ffffff;
    font-weight: 700;
    margin-left: 10px;
    /* Color for the close icon */
}


.ant-select-multiple .ant-select-selection-item {
    background-color: #FFAC6A !important;
    color: #ffffff !important;
    font-weight: 700;
}

.ant-select-arrow {
    color: #FF7506 !important;
    font-size: 17px !important;
    /* Change arrow icon color */
}

.custom-table .ant-table-thead>tr>th {
    background-color: #FF9138;
    /* Change header background */
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    /* Change header text color */
}

.custom-table .ant-table-tbody>tr>td {
    font-size: 16px;
    /* Change body background */
    color: #535261;
    /* Change body text color */
}

.custom-table .odd-row {
    background-color: #FFF2E7;
    /* Apply custom background color to even rows */
}

.custom-table .even-row {
    background-color: #FFFFFF;
    /* Apply custom background color to odd rows */
}

.ant-btn-primary {
    background-color: #FF9138;
    font-weight: bold;
}

.ant-btn {
    border-radius: 8px;
}

.ant-btn-primary:hover {
    background-color: #f8a45e !important;
}

.ant-btn-default {
    background-color: #FFF2E7;
    border: #FF7506 solid 1.5px;
    color: #FF9138;
    font-weight: bold;
}

.ant-btn-default:hover {
    background-color: #ffe0c6 !important;
    color: #ff811a !important;
    border-color: #ff811a !important;

}

.ant-btn-text {
    background-color: #FFF2E7;
    color: #FF9138;
}

.ant-btn-text:hover {
    background-color: #ffe7d2 !important;
    color: #FF9138 !important;
}

.auth .ant-input {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.custom .ant-input {
    font-size: 16px !important;
    line-height: 24px;
}

.disable .ant-input {
    font-size: 16px !important;
    margin-bottom: 0px;
    line-height: 24px;
}


.ant-input {
    height: 44px;
    color: #535261 !important;
    font-weight: 400 !important;
}

.auth .ant-input-password {
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    height: 44px;
}

.custom .ant-input-password {
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    height: 44px;
}

.auth .ant-form-item-label>label {
    color: #37474F !important;
    font-size: 18px !important;
    line-height: 27px !important;
    font-weight: 400 !important;
}

.custom .ant-form-item-label>label {
    color: #282739;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.disable .ant-form-item-label>label {
    color: #282739;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ant-form-item {
    margin-bottom: 0px !important;
}

.disable .ant-form-item {
    margin-top: 0px !important;
    /* margin-bottom: 24px !important; */
}

h6 {
    color: #FF7506;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.ant-checkbox-wrapper {
    margin: 0px !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #535261;
}

.ant-checkbox-inner {
    border: 1.5px solid #4277FF !important;
    border-radius: 4px !important;
    width: 20px !important;
    height: 20px !important;
}

.ant-picker-input {
    color: #A9A9B0;
    /* Màu chữ */
    font-size: 16px;
}

.ant-picker-range {
    background-color: white;
    /* Đặt màu nền */
    border-radius: 8px;
    border: 1.5px solid #D4D4D7;
    /* Bo tròn góc */
    height: 44px;
}

.ant-picker-focused {
    border-color: #FFAC6A !important;
    /* Màu viền khi focus */
}

.ant-picker-suffix {
    color: #FF7506 !important;
}

.custom-modal .ant-modal-content {
    padding: 0 !important;
    border-radius: 24px !important;
    margin: 0px !important;
    /* Remove padding from modal content */
}

.custom-modal .ant-modal-body {
    padding: 0 !important;
    border-radius: 24px !important;
    margin: 0px !important;
    /* Remove padding from modal body */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.ant-pagination .ant-pagination-item-active {
    background-color: #FF7506;
    color: #ffffff !important;
    border-color: #FF7506;
    /* Change this to your desired color */
    /* This can also be changed if needed */
}

.ant-pagination {
    color: #7E7D88 !important
}

.custom-row {
    height: 49px
}

.custom-row .ant-table-cell {
    padding: 0px !important;
    padding-left: 16px !important;
    padding-right: 16px !important
}